.tourism-body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width: 100% !important;
    z-index: 0;
}

.bg-solid {
    width: 100% !important;
    height: 100% !important;
    float: inherit;
    
}

.logo {
    max-width: 220px;
}

.menu {
    display: inline;
    vertical-align: middle;
    margin-top: 30spx;
}

.slogan {
    font-size: 35px;
    letter-spacing: 4px;
    color: #FFF;
}

h3 {
    font-size: 25px;
}

h4 {
    font-size: 20px;
}

.card-panel {
    color: #FFF;
}